@model ExternalBadass.ViewModels.UserActivityViewModel


@using (Html.BeginForm("AddActivity", "UserActivity", FormMethod.Post, new { @id = "create_activity_form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserActivity</legend>

            @Html.Hidden("UserActivity.User.Username", Model.CurrentUser.Username)

         <div class="editor-label">
            @Html.LabelFor(model => model.CurrentUser.Username)
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserActivity.User.UserId", Model.UserSelectList)
        </div>
         <div class="editor-label">
            <label for="UserActivity.ActivityId">Date</label>
        </div>
        <div class="editor-field">
            @Html.TextBox("UserActivity.Date", DateTime.Now.ToShortDateString())
        </div>
         <div class="editor-label">
            <label for="UserActivity.ActivityId">Activity</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserActivity.Activity.ActivityId", Model.ActivitySelectList)
        </div>
    </fieldset>
}