<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class='navbar'>
        <div class='navbar-inner'>
            <div class='container-fluid'>

                @Html.ActionLink("External Badass", "index", "menu", new { area = "" }, new { @class = "brand" })
                <ul class='nav'>
                    
                </ul>
                
                <ul class="nav pull-right">
                    <li><a href="@Url.Action("edit","user",new{username =HttpContext.Current.User.Identity.Name})" ><i class="icon-user"></i> @HttpContext.Current.User.Identity.Name</a></li>
                </ul>
            </div>

        </div>
        
    </div>


    <div class="container">
        <div class="content">@RenderBody()</div>
        <footer>
            <p class="pull-right">
                <a href="#">Back to top</a>
            </p>
            <p>Training for the Tough Mudder</p>
        </footer>
    </div>
</body>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

@RenderSection("Scripts", false)

    <script type="text/javascript">

        $(function () {
            $('.datepicker').datepicker()
        });

    </script>

</html>

